.banner {
  background: url("/landing/images/background.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.banner h1 {
  color: #fff;
  font-size: 2em;
  text-shadow: 1.2px 1.2px rgb(0, 0, 0);
}

.banner p {
  color:aquamarine;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}
