.btn-medium {
  color: #fff;
  background-color: #54BED6;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  box-shadow: 3px 3px 2px #07fcfc3d;
  font-weight: bold;
  transition: 0.3s;
  display: inline-block;
  margin: 5px 5px;
}

.btn-medium:hover {
  background-color: rgb(78, 233, 182);
  box-shadow: 3px 3px 2px rgba(127, 255, 212, 0.404);
  transition: 0.3s;
}
