.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  text-align: center;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  padding: 10px;
}

.card img {
  height: 100px;
}
